@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@model List<PostWithParameters>

<div class="text-center">
    @foreach (var item in Model)
    {
        var post = item.Post;
        var username = item.Username;
        var avatarUrl = item.Avatar;
  
        <div class="card mb-3 text-lg-start mx-auto" style="max-width: 50rem;">
            <div class="card-header">
                <img src="@avatarUrl" alt="Avatar" class="me-2 post-avatar" width="25" height="25" />
                <strong>@username</strong>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <h2 class="card-title">@post.Title</h2>
                    @if ((DateTime.Now - post.Created).TotalMinutes < 15)
                    {
                        <span class="badge bg-success">New</span>
                    }
                </div>

                <p class="card-text">@post.Content</p>
                
                @if (post.Images != null && post.Images.Count - 1 > 0)
                {
                    <div id="carouselExampleIndicators-@post.Id" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            @for (int i = 0; i < post.Images.Count - 1; i++)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators-@post.Id" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
                            }
                        </div>
                        <div class="carousel-inner">
                            @for (int i = 0; i < post.Images.Count - 1; i++)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@post.Images[i]" class="d-block w-100" alt="Post Image @(i + 1)">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-@post.Id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-@post.Id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }
            </div>

            <div class="card-footer d-flex justify-content-between">
                <small class="text-muted">
                    <i class="fa-solid fa-clock-rotate-left"></i> @Quanta.Controllers.HomeController.GetTimeAgo(post.Created)
                </small>
            </div>

        </div>
    }
</div>
<p class="text-center">That's all</p>

